In [82]:
import pandas as pd

In [83]:
df= pd.read_csv('movies_metadata.csv')

C:\Users\NP Family\AppData\Local\Temp\ipykernel_1428\4240643432.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('movies_metadata.csv')

In [84]:
df.shape

(45466, 24)

In [85]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [86]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [87]:
df.adult.values[0]

'False'

In [88]:
df.loc[~df.adult.isin(['True','False']),:]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
df= df.loc[df.adult.isin(['False','True']),:]# only choosing the rows where the adult column is either true or false

In [90]:
df.adult=df.adult.map({'True':True,'False':False})#converting string to Bollean

In [91]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [92]:
df.adult.isnull().sum()

0

In [93]:
import numpy as np
import ast

In [94]:
ast.literal_eval(df.belongs_to_collection.values[0])['name']

'Toy Story Collection'

In [95]:
collectionNames =[]
for i in df['belongs_to_collection'].values:
    if i ==i:
        collectionNames.append(ast.literal_eval(i)['name'])
    else:
        collectionNames.append('NO collection')
        
df['collectionName'] = collectionNames
df = df.drop(columns = ['belongs_to_collection'])

In [96]:
df.head()

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collectionName
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NO collection
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NO collection
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection

In [97]:
df.budget.values[0]

'30000000'

In [98]:
df.budget=df.budget.astype('int64')
df.budget.describe()

count    4.546300e+04
mean     4.224579e+06
std      1.742413e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.800000e+08
Name: budget, dtype: float64

In [99]:
sum(df.budget==0)

36573

In [100]:
df.shape[0]

45463

In [101]:
sum(df.budget==0)*100/df.shape[0]

80.44563711149726

In [102]:
#here 80% percent of my data is nan values so we should get data from other source or keep them do analysis with rest of data

In [103]:
df.genres.values[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [104]:
UniqueGenres = set()
for i in df.genres:
    genList = ast.literal_eval(i)
    for j in genList:
        UniqueGenres.add(j['name'])

In [105]:
len(UniqueGenres)

20

In [106]:
rows = [] # for all the movies
genres = list(UniqueGenres) # all unique Genres

for i in df.genres: #looping through all the rows/movies
  genList = ast.literal_eval(i) #converting from string to list of dict for a particular movie
  movieGenres = [x['name'] for x in genList] # list of all the genres of the movie
  row = [] # store a list of 1s and 0s for one movie
  for j in genres: #loop through all unique genres
    row.append(int(j in movieGenres)) #checking if the genre is present in that movie - if the genre is present 1 else 0
  rows.append(row)

In [107]:
genre = pd.DataFrame(rows,columns = genres)
genre

,TV Movie,Romance,Adventure,Mystery,Animation,Comedy,Thriller,Family,Science Fiction,Foreign,Drama,Horror,Crime,History,Western,Fantasy,Documentary,Action,Music,War
0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
2,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45458,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
45459,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
45460,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0
45461,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45462,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [108]:
df = pd.concat([df,genre], axis = 1) # joing the two dataframes
df.shape, genre.shape

((45466, 44), (45463, 20))

In [109]:
df = df.drop(columns = ['genres'])

In [174]:
df.tail(5)

,adult,budget,id,imdb_id,original_language,original_title,overview,popularity,production_countries,release_date,...,History,Western,Fantasy,Documentary,Action,Music,War,homepagepresent,Producer1,Producer2
45461,False,0.0,439050,tt6209470,fa,رگ خواب,rising and falling between a man and woman.,0.072051,"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,No Producer,No Producer
45462,False,0.0,111109,tt2028550,tl,siglo ng pagluluwal,an artist struggles to finish his work while a...,0.178241,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Sine Olivia,No Producer
45463,False,0.0,67758,tt0303758,en,betrayal,"when one of her hits goes wrong, a professiona...",0.903007,"[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,American World Pictures,No Producer
45464,False,0.0,227506,tt0008536,en,satana likuyushchiy,"in a small town live two brothers, one a minis...",0.003503,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Yermoliev,No Producer
45465,False,0.0,461257,tt6980792,en,queerama,50 years after decriminalisation of homosexual...,0.163015,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,No Producer,No Producer

In [110]:
~df.homepage.isnull()

0         True
1        False
2        False
3        False
4        False
         ...
45464    False
45465    False
19730    False
29503    False
35587    False
Name: homepage, Length: 45466, dtype: bool

In [111]:
df['homepagepresent']=~df.homepage.isnull()

In [112]:
df.homepagepresent

0         True
1        False
2        False
3        False
4        False
         ...
45464    False
45465    False
19730    False
29503    False
35587    False
Name: homepagepresent, Length: 45466, dtype: bool

In [113]:
df = df.drop(columns = ['homepage'])

In [114]:
df.homepagepresent=df.homepagepresent.map({True:1,False:0})

In [115]:
df.homepagepresent

0        1
1        0
2        0
3        0
4        0
        ..
45464    0
45465    0
19730    0
29503    0
35587    0
Name: homepagepresent, Length: 45466, dtype: int64

In [116]:
(df.shape[0] - len(df.id.unique())) #difference between movies and unique ids

32

In [117]:
df = df.drop_duplicates(subset = 'id') # delete the rows which has id column to be the same
df.shape

(45434, 43)

In [118]:
df.id.values[0]

'862'

In [119]:
df = df.dropna(subset = ['id'] )

In [120]:
df.id = df.id.astype('int64')

In [121]:
(df.shape[0] - len(df.imdb_id.unique()))

16

In [122]:
df = df.drop_duplicates(subset = 'imdb_id')

In [123]:
df.shape

(45417, 43)

In [124]:
df.imdb_id.unique()

array(['tt0114709', 'tt0113497', 'tt0113228', ..., 'tt0303758',
       'tt0008536', 'tt6980792'], dtype=object)

In [125]:
df.original_language.values[0]

'en'

In [126]:
len(df.original_language.unique())

90

In [127]:
df.original_language.value_counts()

en    32239
fr     2435
it     1529
ja     1346
de     1079
      ...
ay        1
rw        1
cy        1
tg        1
si        1
Name: original_language, Length: 89, dtype: int64

In [128]:
df.original_language.isnull().sum()

11

In [129]:
df['original_language'] = df.original_language.fillna('mode')

In [130]:
# we have title and orginal_title coloumn comparing this to which have high value we keep that drop other one
df.title.isnull().sum(), len(df.title.unique())*100/df.shape[0]

(3, 93.05986745051412)

In [131]:
df.original_title.isnull().sum(), len(df.original_title.unique())*100/df.shape[0]

(0, 95.464253473369)

In [132]:
df.title.values[0]

'Toy Story'

In [133]:
df = df.drop(columns = ['title'])

In [134]:
df.original_title = df['original_title'].str.lower() # brief the text data to lowercase
df.original_title = df['original_title'].str.strip() # delete unwanted whitespaces

In [135]:
df.overview[0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."

In [136]:
df.overview=df.overview.str.lower()
df.overview=df.overview.str.strip()

In [137]:
df.overview

0        led by woody, andy's toys live happily in his ...
1        when siblings judy and peter discover an encha...
2        a family wedding reignites the ancient feud be...
3        cheated on, mistreated and stepped on, the wom...
4        just when george banks has recovered from his ...
                               ...
45461          rising and falling between a man and woman.
45462    an artist struggles to finish his work while a...
45463    when one of her hits goes wrong, a professiona...
45464    in a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45417, dtype: object

In [138]:
df.overview.isnull().sum()

952

In [139]:
df.loc[df.overview.isnull(),'overview'] = 'no overview available'

In [140]:
df.popularity.values[0]

21.946943

In [141]:
df.popularity.dtype

dtype('O')

In [142]:
df.popularity=df.popularity.astype('float64')

In [143]:
df.popularity.describe()

count    45414.000000
mean         2.921932
std          6.007588
min          0.000000
25%          0.386107
50%          1.127685
75%          3.679143
max        547.488298
Name: popularity, dtype: float64

In [144]:
q3 = df.popularity.quantile(0.75)
q1 = df.popularity.quantile(0.25)
iqr = q3 - q1

In [145]:

q1 - (1.5*iqr)

-4.553446

In [146]:
q3 + (1.5 * iqr)

8.618696

In [147]:
df.popularity = df.popularity.clip(-4.55,8.62) #.clip s used to clip bring the data within threshold  (lt,ut)

In [148]:
df.popularity.describe()

count    45414.000000
mean         2.459170
std          2.831027
min          0.000000
25%          0.386107
50%          1.127685
75%          3.679143
max          8.620000
Name: popularity, dtype: float64

In [149]:
df.popularity.isnull().sum()

3

In [150]:
df = df.dropna(subset = ['popularity'])

In [151]:
 df.popularity.isnull().sum()

0

In [152]:
df.vote_count.values[0] #the output shows as float value we should change to intger

5415.0

In [153]:
df.vote_count =df.vote_count.astype('int64')

In [154]:
df.vote_count.isnull().sum()

0

In [155]:
df.vote_count.describe()

count    45414.000000
mean       109.971837
std        491.549122
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

In [156]:
df.vote_average.values[0]

7.7

In [157]:
df.vote_average.dtype

dtype('float64')

In [160]:
df.vote_average.isnull().sum()

0

In [161]:
df.vote_average.describe()

count    45414.000000
mean         5.618864
std          1.923210
min          0.000000
25%          5.000000
50%          6.000000
75%          6.800000
max         10.000000
Name: vote_average, dtype: float64

In [163]:
df=df.drop(columns=['poster_path'])

In [164]:
df.production_companies.isnull().sum()

0

In [165]:
df.production_companies.values[0]

"[{'name': 'Pixar Animation Studios', 'id': 3}]"

In [170]:
index=0
production1=[]
for a in df.production_companies.values:
    prodList = ast.literal_eval(a)
    if len(prodList) > index:
        production1.append(prodList[index]['name'])
    else:
        production1.append('No Producer')
        
   

df['Producer1'] = production1

In [171]:
index=1
production2=[]
for a in df.production_companies.values:
    prodList = ast.literal_eval(a)
    if len(prodList) > index:
        production2.append(prodList[index]['name'])
    else:
        production2.append('No Producer')
        
   

df['Producer2'] = production2

In [172]:
df = df.drop(columns = ['production_companies'])

In [173]:
df

,adult,budget,id,imdb_id,original_language,original_title,overview,popularity,production_countries,release_date,...,History,Western,Fantasy,Documentary,Action,Music,War,homepagepresent,Producer1,Producer2
0,False,30000000.0,862,tt0114709,en,toy story,"led by woody, andy's toys live happily in his ...",8.620000,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,Pixar Animation Studios,No Producer
1,False,65000000.0,8844,tt0113497,en,jumanji,when siblings judy and peter discover an encha...,8.620000,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,TriStar Pictures,Teitler Film
2,False,0.0,15602,tt0113228,en,grumpier old men,a family wedding reignites the ancient feud be...,8.620000,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Warner Bros.,Lancaster Gate
3,False,16000000.0,31357,tt0114885,en,waiting to exhale,"cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Twentieth Century Fox Film Corporation,No Producer
4,False,0.0,11862,tt0113041,en,father of the bride part ii,just when george banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Sandollar Productions,Touchstone Pictures
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0.0,439050,tt6209470,fa,رگ خواب,rising and falling between a man and woman.,0.072051,"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,No Producer,No Producer
45462,False,0.0,111109,tt2028550,tl,siglo ng pagluluwal,an artist struggles to finish his work while a...,0.178241,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,Sine Olivia,No Producer
45463,False,0.0,67758,tt0303758,en,betrayal,"when one of her hits goes wrong, a professiona...",0.903007,"[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,American World Pictures,No Producer
45464,False,0.0,227506,tt0008536,en,satana likuyushchiy,"in a small town live two brothers, one a minis...",0.003503,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Yermoliev,No Producer
45465,False,0.0,461257,tt6980792,en,queerama,50 years after decriminalisation of homosexual...,0.163015,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,No Producer,No Producer

In [175]:
df.release_date.values[0]

'1995-10-30'

In [176]:
df.release_date.isnull().sum()

81

In [177]:
df=df.dropna(subset = ['release_date'])

In [178]:
df.release_date.isnull().sum()

0

In [179]:
import datetime
df.release_date = pd.to_datetime(df.release_date, format='%Y-%m-%d')

C:\Users\NP Family\AppData\Local\Temp\ipykernel_1428\363293121.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.release_date = pd.to_datetime(df.release_date, format='%Y-%m-%d')

In [181]:
df.release_date.dt.year

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
45460    1991
45462    2011
45463    2003
45464    1917
45465    2017
Name: release_date, Length: 45333, dtype: int64

In [182]:
df.revenue.values[0]

373554033.0

In [183]:
df.revenue = df.revenue.astype('int64')

C:\Users\NP Family\AppData\Local\Temp\ipykernel_1428\4005313995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.revenue = df.revenue.astype('int64')

In [184]:
df.revenue.describe()

count    4.533300e+04
mean     1.123688e+07
std      6.441885e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.787965e+09
Name: revenue, dtype: float64

In [185]:
sum(df.revenue == 0)*100/df.shape[0] #here 83%revenue of movies are zero

83.68296825711954

In [186]:
df.runtime.values[0]

81.0

In [187]:
df.runtime.describe()

count    45089.000000
mean        94.184014
std         38.342419
min          0.000000
25%         85.000000
50%         95.000000
75%        107.000000
max       1256.000000
Name: runtime, dtype: float64

In [190]:
sum(df.runtime ==0)

1532

In [191]:
df.loc[df.runtime ==0,'runtime']=95

In [192]:
df.runtime.isnull().sum()

244

In [194]:
df=df.loc[df.runtime <= 240,:]

In [195]:
df.runtime.isnull().sum()

0

In [196]:
df.spoken_languages.values[0]

"[{'iso_639_1': 'en', 'name': 'English'}]"

In [198]:
totalLanguages = []
for a in df.spoken_languages.values: # looping through all the rows
  prodList = ast.literal_eval(a) #converting from string to list of dictionary 
  totalLanguages.append(len(prodList)) #how many languages spoken?

df['TotalLanguages'] = totalLanguages

In [199]:
df=df.drop(columns = ['spoken_languages'])

In [201]:
df.status.values[0]

'Released'

In [202]:
df.status.value_counts()

Released           44464
Rumored              227
Post Production       97
In Production         17
Planned               13
Canceled               1
Name: status, dtype: int64

In [203]:
df.status = df.status.fillna('Released')

In [204]:
df.status.value_counts()

Released           44540
Rumored              227
Post Production       97
In Production         17
Planned               13
Canceled               1
Name: status, dtype: int64

In [205]:
df.status.isnull().sum()

0

In [206]:
df = df.drop(columns = ['tagline','video'])

In [207]:
df=df.dropna()

In [209]:
df.shape

(44891, 40)